#about {
  background: $black;
  overflow: hidden;
  z-index: 1;

  h1 {
    position: relative;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 15vw;
    overflow: hidden;
    color: $white;
  }

  h1 .text {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: normal;
    padding-left: 1.2vw;
  }

  h1 .cursor {
    padding-left: 1.2vw;
  }

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .gsap {
    padding: 1vw;
    text-align: center;
    color: #000000;
    background: #91E600;
    display: inline-block;
  }
}
